# X / Twitter
X_USER_ID=your_x_user_id
CONSUMER_KEY=your_consumer_key
CONSUMER_SECRET=your_consumer_secret
ACCESS_TOKEN=your_access_token
ACCESS_SECRET=your_access_secret

# Anthropic
CLAUDE_API_KEY=your_anthropic_api_key

# Project information
COIN_NAME=Dark Pino
WEBSITE=https://darkpino.xyz/
BLOCKCHAIN=Solana

# Telegram
TELEGRAM_TOKEN=your_telegram_bot_token
